@tailwind base;
@tailwind components;
@tailwind utilities;

.radial {
  background: radial-gradient(
      circle at bottom left,
      hsla(210, 100%, 60%, 0.4),
      hsla(210, 100%, 60%, 0) 55%
    ),
    radial-gradient(
      circle at top right,
      hsla(160, 100%, 60%, 0.25),
      hsla(160, 100%, 60%, 0) 95%
    );
}

.background {
  background-image: url("/public/home-background.png");
  filter: blur(2px)
}

html,
body {
  @apply w-screen h-[100dvh] overflow-hidden bg-dark text-white flex flex-col items-center;
}

.btn-style {
  @apply tracking-widest uppercase font-medium text-black border border-black bg-gold rounded-sm p-2 cursor-pointer;
}
